{% load static %}

{% load crispy_forms_tags %}
<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>
        {% block title %}
        {{ page_title|default:"Sua revista no MIGUILIN" }}
        {% endblock title %}
     </title>
     
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    
   </head>
   <body>
      
      <div id="wrapper">
     
     <header class= "row col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
      <div id="logo"><img src="{% static 'logomiguilim.png' %}" alt="" /></div>
     </header>
     
    
     <section class="">
       
       {% block content %}
       <p>.</p>
       {% endblock content %}
     </section>
     <footer id="footer">
       <script type="text/JavaScript">
       document.write(new Date().getFullYear());
       </script> Miguilim
     </footer>
     </div>
   </body>
 </html>
